In [1]:
import pandas as pd

In [56]:
players = pd.read_csv("resluts_forq2.csv")
players.head()

,Unnamed: 0,jersey_number,nationality_name,name,birth,high,weight,sofifa_id,player_url,short_name,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,0,1,Denmark,Kasper Schmeichel,1986-11-05,185,76,163587,https://sofifa.com/player/163587/kasper-schmei...,K. Schmeichel,...,29+2,29+2,29+2,30+2,83+2,https://cdn.sofifa.net/players/163/587/22_120.png,https://cdn.sofifa.net/teams/95/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1331/60.png,https://cdn.sofifa.net/flags/dk.png
1,1,16,Denmark,Oliver Christensen,1999-03-22,190,82,236758,https://sofifa.com/player/236758/oliver-christ...,O. Christensen,...,25+2,25+2,25+2,24+2,69+2,https://cdn.sofifa.net/players/236/758/22_120.png,https://cdn.sofifa.net/teams/166/60.png,https://cdn.sofifa.net/flags/de.png,NaN,https://cdn.sofifa.net/flags/dk.png
2,2,22,Denmark,Frederik Roennow,1992-08-04,190,79,201269,https://sofifa.com/player/201269/frederik-ronn...,F. Rønnow,...,24+2,24+2,24+2,24+2,73+1,https://cdn.sofifa.net/players/201/269/22_120.png,https://cdn.sofifa.net/teams/1831/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1331/60.png,https://cdn.sofifa.net/flags/dk.png
3,3,2,Denmark,Joachim Andersen,1996-05-31,192,90,224221,https://sofifa.com/player/224221/joachim-ander...,J. Andersen,...,77+2,77+2,77+2,69+2,19+2,https://cdn.sofifa.net/players/224/221/22_120.png,https://cdn.sofifa.net/teams/1799/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1331/60.png,https://cdn.sofifa.net/flags/dk.png
4,4,4,Denmark,Simon Kjaer,1989-03-26,190,86,202276,https://sofifa.com/player/202276/simon-zoller/...,S. Zoller,...,49+2,49+2,49+2,54+2,19+2,https://cdn.sofifa.net/players/202/276/22_120.png,https://cdn.sofifa.net/teams/160/60.png,https://cdn.sofifa.net/flags/de.png,NaN,https://cdn.sofifa.net/flags/de.png

There are three formations:

In [114]:
forms = {
    '4-3-3': ['GK','RB', 'CB', 'CB', 'LB', 'CDM', 'CM', 'CAM', 'RW', 'ST', 'LW'],
    '4-4-2': ['GK', 'RB', 'CB', 'CB', 'LB', 'RM', 'CM', 'CM', 'LM', 'ST', 'ST'],
    '4-2-3-1': ['GK', 'RB', 'CB', 'CB', 'LB', 'CDM', 'CDM', 'CAM', 'CAM', 'CAM', 'ST']
}

In [113]:
teams = {}
scores = {}
# for each formation
for index,form in forms.items():
    positions = form
    team = pd.DataFrame({
        "name" : "None",
        "position" : pd.Categorical(positions),
        "score" : 0
    })
    total_score=0

    for pos_idx in range(len(positions)):
        for player_idx in range(len(players)):
            if (positions[pos_idx] in players.iloc[player_idx]["player_positions"]) and (players.iloc[player_idx]["name"] not in team["name"].values):
                # pos_list = players.iloc[player_idx]['player_positions'].split(',')
                
                if players.iloc[player_idx]["overall"]>team.iloc[pos_idx]["score"]:
                    nametmp = str(players.iloc[player_idx]["name"])
                    scoretmp = int(players.iloc[player_idx]["overall"])
                    team.loc[pos_idx,"name"] = nametmp
                    team.loc[pos_idx,"score"] = scoretmp

                # min_score = players.iloc[player_idx]["overall"]
                # for pos_idx in range(len(positions)):                    
                #     if positions[pos_idx] in pos_list:
                #         if team.loc[pos_idx,"score"] < min_score:
                #             min_score = team.loc[pos_idx,"score"]
                #             pos_temp = pos_idx
                # pos_idx = pos_temp
                # if min_score < players.iloc[player_idx]["overall"]:
                #     nametmp = str(players.iloc[player_idx]["name"])
                #     scoretmp = int(players.iloc[player_idx]["overall"])
                #     team.loc[pos_idx,"name"] = nametmp
                #     team.loc[pos_idx,"score"] = scoretmp

        total_score+=team.iloc[pos_idx]["score"]
    scores.setdefault(index,total_score)
    teams.setdefault(index,team.copy())

In [115]:
scores

{'4-3-3': 986, '4-4-2': 978, '4-2-3-1': 976}

In [116]:
teams.keys()

dict_keys(['4-3-3', '4-4-2', '4-2-3-1'])

In [117]:
teams['4-3-3']

                  name position  score
0         Manuel Neuer       GK     90
1       Joshua Kimmich       RB     89
2             van Dijk       CB     89
3      Frenkie de Jong       CB     87
4           Jordi Alba       LB     86
5        Leon Goretzka      CDM     87
6      Kevin De Bruyne       CM     91
7               Neymar      CAM     91
8         Lionel Messi       RW     93
9   Robert Lewandowski       ST     92
10       Kylian Mbappé       LW     91

In [118]:
teams['4-4-2']

                  name position  score
0         Manuel Neuer       GK     90
1       Joshua Kimmich       RB     89
2             van Dijk       CB     89
3      Frenkie de Jong       CB     87
4           Jordi Alba       LB     86
5           Na Sang-ho       RM     87
6      Kevin De Bruyne       CM     91
7          Luka Modric       CM     87
8         Paulo Dybala       LM     87
9         Lionel Messi       ST     93
10  Robert Lewandowski       ST     92

In [119]:
teams['4-2-3-1']

               name position  score
0      Manuel Neuer       GK     90
1    Joshua Kimmich       RB     89
2          van Dijk       CB     89
3   Frenkie de Jong       CB     87
4        Jordi Alba       LB     86
5     Leon Goretzka      CDM     87
6   Sergio Busquets      CDM     86
7            Neymar      CAM     91
8   Kevin De Bruyne      CAM     91
9     Thomas Muller      CAM     87
10     Lionel Messi       ST     93