In [6]:
# -*- coding: UTF-8 -*-
import pandas as pd
import numpy as np

In [143]:
formations = {
    '4-3-3': ['GK','RB', 'CB', 'CB', 'LB', 'CDM', 'CM', 'CAM', 'RW', 'ST', 'LW'],
    '4-4-2': ['GK', 'RB', 'CB', 'CB', 'LB', 'RM', 'CM', 'CM', 'LM', 'ST', 'ST'],
    '4-2-3-1': ['GK', 'RB', 'CB', 'CB', 'LB', 'CDM', 'CDM', 'CAM', 'CAM', 'CAM', 'ST'],
    '4-3-2-1': ['GK','FB','FB','CB','CB','CM','CM','CM','OM','OM','CF'],
    '3-4-3' : ['GK','RCB','CB','LCB','RWB','M','M','LWB','RA','CA','LA'],
    '4-5-1' : ['GK','RB','CB','CB','LB','RM','RCM','DM','LCM','LM','S']
}
formations_name = list(formations.keys())
print(formations_name)
# print(formations[formations_name[0]])

['4-3-3', '4-4-2', '4-2-3-1', '4-3-2-1', '3-4-3', '4-5-1']

In [7]:
df = pd.read_csv("resluts_forq2.csv")
df.head()

,Unnamed: 0,jersey_number,nationality_name,name,birth,high,weight,sofifa_id,player_url,short_name,...,lcb,cb,rcb,rb,gk,player_face_url,club_logo_url,club_flag_url,nation_logo_url,nation_flag_url
0,0,1,Denmark,Kasper Schmeichel,1986-11-05,185,76,163587,https://sofifa.com/player/163587/kasper-schmei...,K. Schmeichel,...,29+2,29+2,29+2,30+2,83+2,https://cdn.sofifa.net/players/163/587/22_120.png,https://cdn.sofifa.net/teams/95/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1331/60.png,https://cdn.sofifa.net/flags/dk.png
1,1,16,Denmark,Oliver Christensen,1999-03-22,190,82,236758,https://sofifa.com/player/236758/oliver-christ...,O. Christensen,...,25+2,25+2,25+2,24+2,69+2,https://cdn.sofifa.net/players/236/758/22_120.png,https://cdn.sofifa.net/teams/166/60.png,https://cdn.sofifa.net/flags/de.png,NaN,https://cdn.sofifa.net/flags/dk.png
2,2,22,Denmark,Frederik Roennow,1992-08-04,190,79,201269,https://sofifa.com/player/201269/frederik-ronn...,F. Rønnow,...,24+2,24+2,24+2,24+2,73+1,https://cdn.sofifa.net/players/201/269/22_120.png,https://cdn.sofifa.net/teams/1831/60.png,https://cdn.sofifa.net/flags/de.png,https://cdn.sofifa.net/teams/1331/60.png,https://cdn.sofifa.net/flags/dk.png
3,3,2,Denmark,Joachim Andersen,1996-05-31,192,90,224221,https://sofifa.com/player/224221/joachim-ander...,J. Andersen,...,77+2,77+2,77+2,69+2,19+2,https://cdn.sofifa.net/players/224/221/22_120.png,https://cdn.sofifa.net/teams/1799/60.png,https://cdn.sofifa.net/flags/gb-eng.png,https://cdn.sofifa.net/teams/1331/60.png,https://cdn.sofifa.net/flags/dk.png
4,4,4,Denmark,Simon Kjaer,1989-03-26,190,86,202276,https://sofifa.com/player/202276/simon-zoller/...,S. Zoller,...,49+2,49+2,49+2,54+2,19+2,https://cdn.sofifa.net/players/202/276/22_120.png,https://cdn.sofifa.net/teams/160/60.png,https://cdn.sofifa.net/flags/de.png,NaN,https://cdn.sofifa.net/flags/de.png

In [14]:
nations = set()
for item in df["nationality_name"]:
    nations.add(item)
nations = list(nations)
print(nations)

['Iran', 'Tunisia', 'Senegal', 'Switzerland', 'Denmark', 'Korea Republic', 'England', 'Australia', 'Ghana', 'Argentina', 'Benin', 'Spain', 'France', 'Poland', 'Cameroon', 'Morocco', 'Mexico', 'Netherlands', 'Serbia', 'Ecuador', 'Uruguay', 'Portugal', 'Germany', 'Croatia', 'Costa Rica', 'Wales', 'Saudi Arabia', 'Japan', 'Scotland', 'Brazil', 'Belgium']

In [138]:
def getBestFormation(nation):
    players = df.loc[df["nationality_name"]==nation].copy()
    players.sort_values(by="player_positions", inplace=True, ascending=True,key=lambda x:x.str.len())
    scores = []
    # for each formation
    for f_idx in range(len(formations_name)):
        positions = formations[formations_name[f_idx]]
        team = pd.DataFrame({
            "name" : "None",
            "position" : pd.Categorical(positions),
            "score" : 0
        })
        total_score=0
        for pos_idx in range(len(positions)):
            for player_idx in range(len(players)):
                if (positions[pos_idx] in players.iloc[player_idx]["player_positions"]) and (players.iloc[player_idx]["name"] not in team["name"].values):
                    if players.iloc[player_idx]["overall"]>team.iloc[pos_idx]["score"]:
                        nametmp = str(players.iloc[player_idx]["name"])
                        scoretmp = int(players.iloc[player_idx]["overall"])
                        team.loc[pos_idx,"name"] = nametmp
                        team.loc[pos_idx,"score"] = scoretmp
            total_score+=team.iloc[pos_idx]["score"]
        scores.append(total_score)
        if total_score == max(scores):
            best_team=team.copy()
#         display(team)
    
    best_formation = formations_name[scores.index(max(scores))]
    print("Best formation for {} is {}\nTeam as follow:\n".format(nation,best_formation))
    display(best_team)
#     return best_formation

In [144]:
getBestFormation("Argentina")

Best formation for Argentina is 4-4-2
Team as follow:

                 name position  score
0   Emiliano Martinez       GK     84
1     Gonzalo Montiel       RB     78
2   Lisandro Martínez       CB     79
3     Germán Pezzella       CB     77
4        Marcos Acuña       LB     84
5        Ángel Correa       RM     83
6        Paulo Dybala       CM     87
7     Rodrigo De Paul       CM     82
8      Angel Di Maria       LM     68
9        Lionel Messi       ST     93
10   Lautaro Martínez       ST     85

In [145]:
for nation in nations:
    getBestFormation(nation)

Best formation for Iran is 4-4-2
Team as follow:

                    name position  score
0        Milad Mohammadi       GK     73
1       Sadegh Moharrami       RB     71
2   Morteza Pouraliganji       CB     69
3       Hossein Hosseini       CB     67
4          Ehsan Hajsafi       LB     72
5      Shoja Khalilzadeh       RM     74
6            Vahid Amiri       CM     77
7         Ali Gholizadeh       CM     74
8       Ahmad Nourollahi       LM     68
9           Mehdi Taremi       ST     79
10      Karim Ansarifard       ST     74

Best formation for Tunisia is 4-4-2
Team as follow:

              name position  score
0     Aymen Dahmen       GK     66
1         Ali Abdi       RB     70
2   Yassine Meriah       CB     69
3     Mouez Hassen       CB     67
4       Slimane A.       LB     62
5   Aymen Balbouli       RM     73
6    Ellyes Skhiri       CM     77
7   Aïssa Laïdouni       CM     70
8    Nader Ghandri       LM     76
9     Wahbi Khazri       ST     76
10       Bilel Ifa       ST     72

Best formation for Senegal is 4-4-2
Team as follow:

                 name position  score
0       Edouard Mendy       GK     83
1     Youssouf Sabaly       RB     76
2   Kalidou Koulibaly       CB     86
3        Abdou Diallo       CB     78
4    Fodé Ballo-Touré       LB     72
5        Ismaila Sarr       RM     78
6            Gueye I.       CM     76
7      Nampalys Mendy       CM     75
8                None       LM      0
9         Boulaye Dia       ST     77
10    Famara Diédhiou       ST     69

Best formation for Switzerland is 4-4-2
Team as follow:

               name position  score
0       Yann Sommer       GK     85
1      Ruben Vargas       RB     79
2     Manuel Akanji       CB     80
3       Nico Elvedi       CB     79
4              None       LB      0
5   Xherdan Shaqiri       RM     79
6      Remo Freuler       CM     80
7      Granit Xhaka       CM     79
8    Renato Steffen       LM     78
9   Haris Seferovic       ST     78
10     Breel Embolo       ST     77

Best formation for Denmark is 4-4-2
Team as follow:

                     name position  score
0       Kasper Schmeichel       GK     85
1             Daniel Wass       RB     80
2        Joachim Andersen       CB     77
3          Victor Nelsson       CB     73
4          Thomas Delaney       LB     76
5            Joakim Mæhle       RM     77
6   Pierre-Emile Hojbjerg       CM     83
7     Andreas Christensen       CM     75
8            Damsgaard M.       LM     77
9          Kasper Dolberg       ST     79
10         Yussuf Poulsen       ST     77

Best formation for Korea Republic is 4-3-3
Team as follow:

              name position  score
0     Kim Seunggyu       GK     69
1    Kim Moon-hwan       RB     66
2   Kwon Kyung-won       CB     72
3      Kim Min-jae       CB     70
4    Yoon Jong-gyu       LB     68
5       Cho Yu-min      CDM     65
6    Seung-ho Paik       CM     69
7     Song Min-kyu      CAM     71
8    Kim Younggwon       RW     53
9      Hwang Ui-jo       ST     76
10     Lee Kang-in       LW     68

Best formation for England is 4-2-3-1
Team as follow:

                      name position  score
0          Jordan Pickford       GK     83
1   Trent Alexander-Arnold       RB     87
2            Harry Maguire       CB     84
3              John Stones       CB     83
4                Luke Shaw       LB     84
5         Jordan Henderson      CDM     84
6              Declan Rice      CDM     82
7             Philip Foden      CAM     84
8            Jack Grealish      CAM     84
9              Mason Mount      CAM     83
10              Harry Kane       ST     90

Best formation for Australia is 4-3-3
Team as follow:

              name position  score
0   Daniel Vukovic       GK     74
1             Mooy       RB     75
2    Miloš Degenek       CB     73
3    Harry Souttar       CB     71
4    Mitchell Duke       LB     72
5   Cameron Devlin      CDM     70
6     Riley McGree       CM     70
7    Ajdin Hrustic      CAM     70
8    Mathew Leckie       RW     71
9   Jamie Maclaren       ST     76
10           Mabil       LW     69

Best formation for Ghana is 4-2-3-1
Team as follow:

                  name position  score
0    Lawrence Ati-Zigi       GK     70
1       Daniel Amartey       RB     76
2      Alexander Djiku       CB     76
3         Joseph Aidoo       CB     74
4          Rahman Baba       LB     74
5            Partey T.      CDM     83
6       Ibrahim Danlad      CDM     73
7       Mohammed Kudus      CAM     77
8   Daniel-Kofi Kyereh      CAM     71
9          Kamal Sowah      CAM     70
10              Fatawu       ST     79

Best formation for Argentina is 4-4-2
Team as follow:

                 name position  score
0   Emiliano Martinez       GK     84
1     Gonzalo Montiel       RB     78
2   Lisandro Martínez       CB     79
3     Germán Pezzella       CB     77
4        Marcos Acuña       LB     84
5        Ángel Correa       RM     83
6        Paulo Dybala       CM     87
7     Rodrigo De Paul       CM     82
8      Angel Di Maria       LM     68
9        Lionel Messi       ST     93
10   Lautaro Martínez       ST     85

Best formation for Benin is 4-3-3
Team as follow:

               name position  score
0              None       GK      0
1              None       RB      0
2              None       CB      0
3              None       CB      0
4              None       LB      0
5              None       RM      0
6              None      RCM      0
7              None       DM      0
8              None      LCM      0
9              None       LM      0
10  Mohammed Salisu        S     67

Best formation for Spain is 4-2-3-1
Team as follow:

                 name position  score
0          Unai Simón       GK     82
1       Nico Williams       RB     68
2     Aymeric Laporte       CB     86
3   Cesar Azpilicueta       CB     83
4          Jordi Alba       LB     86
5     Sergio Busquets      CDM     86
6                Koke      CDM     85
7     Daniel Carvajal      CAM     82
8       Pablo Sarabia      CAM     80
9           Balde Al.      CAM     80
10    Marcos Llorente       ST     86

Best formation for France is 4-4-2
Team as follow:

                     name position  score
0             Hugo Lloris       GK     87
1         Benjamin Pavard       RB     79
2          Raphael Varane       CB     86
3            Jules Kounde       CB     83
4        Christopher Wooh       LB     67
5          Kingsley Coman       RM     86
6         Jordan Veretout       CM     82
7           Adrien Rabiot       CM     81
8   Kevin-Georges Nkoudou       LM     75
9           Kylian Mbappé       ST     91
10          Karim Benzema       ST     89

Best formation for Poland is 4-4-2
Team as follow:

                     name position  score
0       Wojciech Szczesny       GK     87
1              Matty Cash       RB     78
2                Bednarek       CB     76
3              Kamil Glik       CB     73
4            Robert Gumny       LB     71
5   Przemyslaw Frankowski       RM     71
6         Piotr Zielinski       CM     81
7     Grzegorz Krychowiak       CM     80
8          Kamil Grosicki       LM     71
9      Robert Lewandowski       ST     92
10        Arkadiusz Milik       ST     81

Best formation for Cameroon is 4-4-2
Team as follow:

                          name position  score
0         Simon Ngapandouetnbu       GK     67
1               Souaibou Marou       RB     80
2     Jean-Charles Castelletto       CB     73
3                Martin Hongla       CB     73
4                  Nouhou Tolo       LB     68
5                  André Onana       RM     75
6   Zambo Anguissa André-Frank       CM     76
7                 Pierre Kunde       CM     73
8                     Ngamaleu       LM     74
9               Olivier Mbaizo       ST     79
10                 Toko Ekambi       ST     78

Best formation for Morocco is 4-3-3
Team as follow:

                 name position  score
0      Yassine Bounou       GK     82
1       Achraf Hakimi       RB     85
2        Romain Saiss       CB     78
3        Nayef Aguerd       CB     76
4         Achraf Dari       LB     66
5      Sofyan Amrabat      CDM     76
6       Selim Amallah       CM     73
7        Hakim Ziyech      CAM     84
8               Munir       RW     79
9   Youssef En Nesyri       ST     82
10     Sofiane Boufal       LW     74

Best formation for Mexico is 4-4-2
Team as follow:

                name position  score
0   Alfredo Talavera       GK     78
1      Sanchez Jorge       RB     71
2    Erick Gutierrez       CB     79
3     Jesus Gallardo       CB     75
4         Arteaga G.       LB     73
5     Orbelin Pineda       RM     77
6     Hector Herrera       CM     81
7           Guardado       CM     78
8               None       LM      0
9       Henry Martín       ST     76
10         Araujo N.       ST     72

Best formation for Netherlands is 4-3-3
Team as follow:

               name position  score
0     Justin Bijlow       GK     77
1   Denzel Dumfries       RB     82
2          van Dijk       CB     89
3   Frenkie de Jong       CB     87
4       Daley Blind       LB     82
5    Marten de Roon      CDM     82
6     Davy Klaassen       CM     79
7     Memphis Depay      CAM     85
8   Steven Berghuis       RW     81
9     Wout Weghorst       ST     83
10             None       LW      0

Best formation for Serbia is 4-3-3
Team as follow:

                       name position  score
0           Marko Dmitrović       GK     80
1         Nikola Milenković       RB     76
2            Nemanja Gudelj       CB     79
3           Stefan Mitrovic       CB     73
4          Filip Mladenovic       LB     73
5   Sergej Milinković-Savić      CDM     85
6        Nemanja Maksimovic       CM     79
7               Dusan Tadic      CAM     84
8          Andrija Živković       RW     76
9                Luka Jovic       ST     79
10             Filip Kostic       LW     84

Best formation for Ecuador is 4-4-2
Team as follow:

                name position  score
0    Michael Estrada       GK     72
1           Arboleda       RB     75
2        Alan Franco       CB     74
3     Piero Hincapié       CB     70
4   Pervis Estupiñán       LB     79
5               Mena       RM     78
6    Kevin Rodríguez       CM     78
7      Gonzalo Plata       CM     77
8    Ayrton Preciado       LM     70
9     Romario Ibarra       ST     69
10    Moisés Ramírez       ST     68

Best formation for Uruguay is 4-4-2
Team as follow:

                  name position  score
0        Sergio Rochet       GK     61
1       Martín Cáceres       RB     76
2      Mathias Olivera       CB     84
3        Ronald Araujo       CB     77
4          Matías Viña       LB     76
5    Facundo Pellistri       RM     70
6    Rodrigo Bentancur       CM     78
7   Nicolás De La Cruz       CM     78
8     Agustin Canobbio       LM     69
9       Edinson Cavani       ST     85
10     Rodriguez J. L.       ST     74

Best formation for Portugal is 4-4-2
Team as follow:

                 name position  score
0             José Sá       GK     79
1          Rúben Dias       RB     79
2                Pepe       CB     82
3         André Silva       CB     74
4   Raphael Guerreiro       LB     84
5        Joao Cancelo       RM     87
6         Ruben Neves       CM     82
7              Otávio       CM     81
8      Danilo Pereira       LM     65
9            Ramos G.       ST     71
10    Bruno Fernandes       ST     69

Best formation for Germany is 4-2-3-1
Team as follow:

                name position  score
0       Manuel Neuer       GK     90
1     Joshua Kimmich       RB     89
2    Matthias Ginter       CB     84
3    Antonio Rüdiger       CB     83
4   Christian Günter       LB     79
5      Leon Goretzka      CDM     87
6     Ilkay Gundogan      CDM     85
7      Thomas Muller      CAM     87
8        Kai Havertz      CAM     84
9        Mario Götze      CAM     82
10   Niclas Füllkrug       ST     76

Best formation for Croatia is 4-4-2
Team as follow:

                 name position  score
0   Dominik Livaković       GK     82
1     Josip Juranović       RB     72
2        Domagoj Vida       CB     78
3      Josko Gvardiol       CB     75
4       Borna Barišić       LB     75
5         Lovro Majer       RM     76
6         Luka Modric       CM     87
7    Marcelo Brozovic       CM     84
8        Ivan Perišić       LM     81
9     Andrej Kramaric       ST     83
10       Mislav Oršić       ST     77

Best formation for Costa Rica is 4-4-2
Team as follow:

                name position  score
0       Keylor Navas       GK     88
1          Matarrita       RB     64
2        Sequeira P.       CB     78
3      Daniel Chacon       CB     73
4            Venegas       LB     69
5           Alvarado       RM     76
6      Gerson Torres       CM     63
7      Joel Campbell       CM     58
8      Alvaro Zamora       LM     75
9   Jewison Bennette       ST     68
10     Youstin Salas       ST     55

Best formation for Wales is 4-3-3
Team as follow:

               name position  score
0   Wayne Hennessey       GK     74
1    Connor Roberts       RB     75
2      Chris Mepham       CB     74
3        Ben Davies       CB     73
4      Chris Gunter       LB     79
5      Ethan Ampadu      CDM     68
6      Aaron Ramsey       CM     80
7      Harry Wilson      CAM     75
8       Gareth Bale       RW     82
9     Matthew Smith       ST     61
10     Sorba Thomas       LW     67

Best formation for Saudi Arabia is 4-4-2
Team as follow:

                  name position  score
0    Mohammed Al-Owais       GK     70
1   Yasser Al-Shahrani       RB     75
2    Abdulelah Al-Amri       CB     72
3       Ali Al-Bulayhi       CB     67
4    Nasser Al-Dawsari       LB     65
5     Salem Al-Dawsari       RM     76
6      Salman Al-Faraj       CM     73
7       Abdullah Otayf       CM     71
8       Hattan Bahebri       LM     66
9      Saleh Al-Shehri       ST     68
10   Firas Al-Buraikan       ST     58

Best formation for Japan is 4-4-2
Team as follow:

                 name position  score
0      Eiji Kawashima       GK     73
1           Ao Tanaka       RB     83
2   Takehiro Tomiyasu       CB     75
3          Ko Itakura       CB     74
4       Yuto Nagatomo       LB     73
5       Takefusa Kubo       RM     75
6       Daichi Kamada       CM     75
7         Wataru Endo       CM     62
8        Kaoru Mitoma       LM     73
9        Daizen Maeda       ST     63
10               None       ST      0

Best formation for Scotland is 4-3-3
Team as follow:

              name position  score
0             None       GK      0
1             None       RB      0
2             None       CB      0
3             None       CB      0
4             None       LB      0
5             None       RM      0
6             None      RCM      0
7             None       DM      0
8             None      LCM      0
9             None       LM      0
10  Jason Cummings        S     65

Best formation for Brazil is 4-2-3-1
Team as follow:

               name position  score
0        Ribeiro E.       GK     72
1     Gabriel Jesus       RB     62
2      Thiago Silva       CB     85
3      Éder Militão       CB     82
4              None       LB      0
5              Fred      CDM     81
6   Bruno Guimarães      CDM     79
7            Neymar      CAM     91
8          Weverton      CAM     80
9      Daniel Alves      CAM     72
10        Antony M.       ST     67

Best formation for Belgium is 4-3-3
Team as follow:

                 name position  score
0    Thibaut Courtois       GK     89
1    Timothy Castagne       RB     79
2   Toby Alderweireld       CB     83
3      Jan Vertonghen       CB     81
4       Arthur Theate       LB     69
5     Youri Tielemans      CDM     84
6     Kevin De Bruyne       CM     91
7       Dries Mertens      CAM     84
8         Jeremy Doku       RW     77
9       Romelu Lukaku       ST     88
10        Eden Hazard       LW     85